.name {
    color: brown;
    font-size: 40px;
    text-align: center;
}

.caption-box {
    margin-left: 180px;
    margin-bottom: 100px;
    width: 400px;
    height: 300px;
}

.caption-box h1 {
    color: white;
}

.quotation {
    color: gray;
    font-size: 30px;
}

.filled-star {
    color: #ff7300;
    font-size: 18px;
}

.empty-star {
    color: #f29808;
    font-size: 18px;
}